html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}
p {
    margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.sb {
    justify-content: space-between;
}
.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.opacity {
    opacity: 0;
}

.column10 {
    min-width: 10%;
    width: 10%;
    max-width: 10%;
}
.column20 {
    min-width: 20%;
    width: 20%;
    max-width: 20%;
}
.column45 {
    min-width: 45%;
    width: 45%;
    max-width: 45%;
}
.column55 {
    min-width: 55%;
    width: 55%;
    max-width: 55%;
}
.column70{
    min-width: 70%;
    width: 70%;
    max-width: 70%;
}
.vh90{
    height: 90vh;
}

.hidden {
    display: none;
}

.commandArea {
    flex: 1;
    height: 90vh;
    padding: 0;
}

.commandArea > * {
    margin-bottom: 1em;
    margin-top: 0;
}

.commandArea > div:last-child {
    margin-bottom: 0;
}

.commandHistory {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    overflow: auto;
}

.contentWrapper {
    padding: 0.3em;
}

.syntax-display{
    height: fit-content;
    min-height: 5em;
    padding: .25em .5em;
}

.success-response span {
    font-weight: 800;
    color: #2ac52a;
}

.error-response span {
    font-weight: 800;
    color: #c52a2a;
}

.visualizationArea {
    flex: 1;
}

.variableView {
    width: 100%;
    box-sizing: border-box;
    padding: .8em;
}

.variableViewColum {
    width: 45%;
    box-sizing: border-box;
    overflow: auto;
}

.variableViewColum h2 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0.1em solid var(--text-on-background-color);
}

.command-highlighted {
    background-color: var(--group-A-active-color) !important;
}

.stateVariableSection{
    padding: 0.25em;
    background: #1e262e;
    border-radius: .2em;
    margin: 0.5em 0;
    border: 1px solid #1d242b;
}

.inactive-section{
    background: #3a3d41;
    border-color: #424242;
}

.stateVariableSection > div{
    padding: 0.25em;
}

.stateVariableSelectionWrapper label {
    margin-left: .3em;
    margin-bottom: .5em;
}

/* Spinner animation */
.spinner {
    display: inline-block;
    height: 2.2em;
    width: 2.2em;
    border: .3em solid var(--spinner-color);
    border-radius: 50%;
    border-top-color: var(--text-on-background-color);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}


/* Override Bootstrap */
.dropdown-item {
    cursor: pointer;
    padding: 0;
}
.form-check .form-check-input {
    margin-left: .5em;
    cursor: pointer;
}
.form-check .form-check-label {
    padding: 0 .5em;
    width: 100%;
}

/*https://stackoverflow.com/a/71876526*/
.monaco-editor { position: absolute !important; }

.editorArea {
    height: 100%;
    padding: 0;
}

.vs-like-button{
    background: #313131;
    color: #cccccc;
    border: #ffffff12;
    border-radius: .15em;
    margin: 0 .2em;
}

.vs-like-button:hover{
    background: #3c3c3c;
}


#btnRow{
    max-width: none;
}

.right-aligned{
    padding-right: 0;
}

.left-aligned{
    padding-left: 0;
}

/* POPUP */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup.hidden {
    display: none;
}

.popup-content {
    text-align: center;
    color: black;
}

#popup-close {
    margin-top: 10px;
    font-weight: bold;
}

/* DECORATIONS */
.red-circle-decoration {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1em;
}

/* DECORATIONS POPUP */
/* Using .inspectionpoint-popup-box to avoid possible conflicts with other popups */
.inspectionpoint-popup-box {
    background: lightgray;
    border: 2px solid var(--border-color);
    color: var(--text-on-background-color);
    padding: 0.5em;
    z-index: 100;
    width: 300px;
    border-radius: 0.4em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.inspectionpoint-popup-box .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}
.inspectionpoint-popup-box .popup-header .close-popup {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.inspectionpoint-popup-box .popup-header .close-popup:hover {
    color: var(--error-color);
}
.inspectionpoint-popup-box .popup-body {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    color: #333;
    font-size: 14px;
}
.inspectionpoint-popup-box .popup-body input {
    width: 100%;
    font-weight: bold;
    border-radius: 0.3em;
    background-color: var(--slate-background-color);
    color: var(--text-on-background-color);
}
.inspectionpoint-popup-box .popup-body>label {
    font-weight: bold;
    color: #333;
}
.inspectionpoint-popup-box .popup-body button {
    align-self: flex-end;
    padding: 8px 15px;
    background-color: var(--group-B-active-color);
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}
.inspectionpoint-popup-box .popup-body button:hover {
    background-color: var(--group-A-active-color);
}
.inspectionpoint-popup-box .popup-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.inspectionpoint-popup-box .popup-body ul li {
    background: var(--slate-background-color);
    color: var(--text-on-background-color);
    margin: 5px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.inspectionpoint-popup-box .popup-body ul li .delete-variable {
    background-color: var(--error-color);
    padding: 2px;
}

/* Inspectionpoint messages selector */
.inspectionPointsMessageSelector {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.messageSelectionPoint {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0066ff;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}

.messageSelectionPoint:hover {
    background-color: #0033bb;
}

.messageSelectionPoint.active {
    background-color: var(--error-color); /* Active point color */
}